{% extends 'base_ugf.html' %}

{% load staticfiles %}
{% load humanize %}


{% block document_title %}New Company Entry{% endblock document_title %}
{% block page_title %}New Company Entry{% endblock page_title %}
    

{% block main %}
<h4>Enter company names we want to add to our database on new lines below.</h4>

<form method="POST" action="." class="company_names">
    {% csrf_token %}
    {{ form.company_names }}
    <input type="submit" value="Enter" class="form-control" style="margin-top: 10px; padding-bottom: 37px;">
</form>


{% if companies_added %}
    <h4 class="green">Companies Added:</h4>
    {% for company in companies_added %}
        <p class="green">{{ company }}</p>
    {% endfor %}
{% endif %}

{% if companies_found %}
    
    <h4 class="gray">Companies Matched (previously created):</h4>
    {% for company in companies_found %}
        <p class="gray">{{ company }}</p>
    {% endfor %}
    <br>
{% endif %}
    

{% if companies_waiting %}
    
    <h4 class="red">Companies waiting to be processed:</h4>
    {% for company in companies_waiting %}
        <p class="red">{{ company }}</p>
    {% endfor %}
    <br>
{% endif %}

{% endblock main %}
   
{% block back %}
<br>
<a href="{% url 'deal_sourcing' %}">Back to Deal Sourcing</a>
{% endblock back %}


{% block final_scripts %}

{% endblock final_scripts %}