{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify staticfiles %}

{% block after_related_objects %}
    <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
    <script src="{% static 'new/js/jquery.min.js' %}"></script>
    <script src="{% static 'js/flickity.js' %}"></script>
    <div style="max-width: 80vw; margin: 0 auto;">
        
    <h3 style="text-align: center;">Post Images available</h3>
    <div class="images">
        {% for image in original.get_all_post_images %}
            <div class="imager" style="text-align: center;">
                <img style='display: block; max-width: 300px; max-height: 300px; margin: 5px 20px;' src="{{ image.image_file.url }}" alt="{{ image.title }}">
                <p>{{ image.pk }}</p>
            </div>
        {% endfor %}
    </div>
    </div>

    <script type="text/javascript">
    $('.images').flickity({
        groupCells: 3,
    });
    </script>

{% endblock %}