{% extends "new_home.html" %}
{% load staticfiles %}
{% block title %}
    travel
{% endblock title %}
{% block body %}
    <h1 class="title">travel</h1>
    <h3 style="margin-top: 10px; font-weight: 100 !important;">my experiences while exploring our awesome world, including 4 months at the byu jerusalem center</h3>
{% endblock body %}


{% block main %}
    <div class="ps">
        <!--<p><a href='/travel/p/intro/'>some background about the travel center</a></p>-->
        <h2 style="margin-bottom: 0; font-weight: 100 !important">posts</h2>
        {% for post in posts %}
            <p><a href="/travel/p/{{ post.slug }}/">{{ post.title | lower }}</a></p>
        {% endfor %}
        <br>
        <br>
        <a style="display: block; margin-bottom: -15px;" href="{% url 'all_posts' %}" class="back">see all posts</a>
        <br>
    </div>
    <hr>
    <a href="{% url 'new_home' %}?wc=vc" class="back">back to home</a>

{% endblock main %}