{% extends "new_home.html" %}
{% load staticfiles %}
{% block title %}
    upload post images
{% endblock title %}
{% block body %}
    <h1 class="title">all posts</h1>
{% endblock body %}


{% block main %}
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="file" name="file">
        <input type="submit" name="submit">
    </form>
    {% if success %}
        <h2>{{ success }} files uploaded.</h2>    
    {% endif %}
    {% if failure %}
        <h2 style="color: red;">{{ failure }}</h2>    
    {% endif %}

{% endblock main %}