{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="coleclayman.us is the web application portfolio of Clay Coleman, a web developer and Computer Science major.">
    <meta name="author" content="Clay Coleman">
<!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- web font  -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="{% static 'js-plugin/animation-framework/animate.css' %}" />
    <!-- Pop up-->
    <link rel="stylesheet" type="text/css" href="{% static 'js-plugin/magnific-popup/magnific-popup.css' %}" />
    <!-- Supersized slider-->
    <link rel="stylesheet" href="{% static 'js-plugin/supersized/css/supersized.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'js-plugin/supersized/theme/supersized.shutter.css' %}" type="text/css" media="screen" />
    <!-- Owl carousel-->
    <link rel="stylesheet" href="{% static 'js-plugin/owl.carousel/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'js-plugin/owl.carousel/owl-carousel/owl.theme.css' %}">
    <!-- isotope -->
    <link type="text/css" rel="stylesheet" href="{% static 'js-plugin/isotope/css/style.css' %}">
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="{% static 'font-icons/custom-icons/css/custom-icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'font-icons/custom-icons/css/custom-icons-ie7.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link type="text/css" id="colors" rel="stylesheet" href="{% static 'css/blue.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="{% static 'js/modernizr-2.6.1.min.js' %}"></script>
<!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}">
</head>
<body class="header2">
<!-- Primary Page Layout 
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <header class="navbar-fixed-top">
            <!-- pre header -->
            <div id="preHeader" class="hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="quickMenu">
                                <li><a href="template-site-map.html" class="linkLeft">Site map</a></li>
                                <li><a href="template-about.html">About us</a></li>
                                <li><a href="template-team.html">Our team</a></li>
                                <li><a href="template-contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <div id="contactBloc">
                                <!-- social icons -->
                                <ul class="socialNetwork">
                                    <li>
                                        <a href="#" class="tips" title="follow me on Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tips" title="follow me on Twitter">
                                            <i class="icon-twitter-bird iconRounded"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tips" title="follow me on Google+">
                                            <i class="icon-gplus-1 iconRounded"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tips" title="follow me on Linkedin">
                                            <i class="icon-linkedin-1 iconRounded"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tips" title="follow me on Dribble">
                                            <i class="icon-dribbble iconRounded"></i>
                                        </a>
                                    </li>
                                    <!-- social icons -->
                                </ul>
                                <!-- phone -->
                                <span class="contactPhone"><i class="icon-mobile"></i>615.987.1234</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pre header -->
            <!-- header -->
            <div id="mainHeader" role="banner">
                <div class="container">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <!-- responsive navigation -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Logo -->
                        </div>
                        <div class="collapse navbar-collapse" id="mainMenu">


                            <!-- Main navigation -->
                            <ul class="nav navbar-nav pull-left">

                                <li class="primary">
                                    <a href="{% url 'home' %}" class="firstLevel active" >Clay  Coleman</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                        
                                <li class="primary">
                                    {% if home %}
                                        <a href="#thehome" id="home_link" class="firstLevel active" >Home</a>
                                    {% else %}
                                        <a href="{% url 'home' %}" class="firstLevel" >Home</a>
                                    {% endif %}
                                    
                                </li>

                                <li class="sep"></li>

                                <li class="primary">
                                    <a href="{% url 'home' %}#works" id="portfolio_link" class="firstLevel hasSubMenu">Portfolio</a>
                                    <ul class="subMenu">
                                        {% for project in projects %}
                                            {% if forloop0.counter < 4 %}
                                                <li><a href="{% url 'project_detail' project.slug %}">{{project}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="sep"></li>

                                <li class="primary">
                                    <a href="{% url 'home' %}#team" id="team_link" class="firstLevel">The Team</a>
                                </li>

                                <li class="sep"></li>
                                
                                <li class="primary"> 
                                    <a href="{% url 'home' %}#contact" id="contact_link" class="firstLevel hasSubMenu" >Contact me</a>
                                    <ul class="subMenu">
                                        <li><a href="https://fb.com/coleclayman">Facebook</a></li>
                                        <li><a href="https://twitter.com/coleclayman">Twitter</a></li>
                                        <li><a href="https://www.linkedin.com/in/coleclayman">Linkedin</a></li>
                                        <li><a href="https://github.com/coleclayman">Github</a></li>
                                        <li><a href="{% url 'home' %}#contact">Email</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End main navigation -->

                            
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- header -->
        <!-- ======================================= content ======================================= -->
        
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- footer -->
        <footer>
            <section id="mainFooter">
                <div class="container" id="footer">
                    <div class="row" style="text-align: center">
                        <div class="col-sm-6">
                            <div class="footerWidget">

                                <h3>Clay Coleman</h3>
                                <address>
                                    <p> <i class="icon-location"></i>&nbsp;Provo, UT 84604 USA <br>
                                        <i class='icon-phone'>&nbsp;949.338.9404</i><br>
                                        <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:coleclayman@gmail.com">coleclayman@gmail.com</a> </p>
                                    </address>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="footerWidget">
                                    <h3>Find coleclayman</h3>
                                    <ul class="socialNetwork">
                                    
                                        <li><a href="https://fb.com/coleclayman" class="tips" title="" data-original-title="hit me up on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                                        <li><a href="https://twitter.com/coleclayman" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/coleclayman" class="tips" title="" data-original-title="view my profile on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                                        <li><a href="https://github.com/coleclayman" class="tips" title="" data-original-title="see more on Github"><i class="icon-flow-merge iconRounded"></i></a></li>
                                    </ul>     
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section  id="footerRights">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Copyright © 2015 coleclayman / All rights reserved.</p>
                            </div>

                        </div>
                    </div>
                </section>
            </footer>
            <!-- End footer -->
        </div>
        <!-- global wrapper -->
<!-- End Document 
    ================================================== -->
    <script type="text/javascript" src="{% static 'js-plugin/respond/respond.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/jquery/1.8.3/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js' %}"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/easing/jquery.easing.1.3.js' %}"></script>
    <!-- carousel -->
    <script type="text/javascript" src="{% static 'js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- pop up -->
    <script type="text/javascript" src="{% static 'js-plugin/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- isotope -->
    <script type="text/javascript" src="{% static 'js-plugin/isotope/jquery.isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/isotope/jquery.isotope.sloppy-masonry.min.js' %}"></script>
    <!-- form -->
    <script type="text/javascript" src="{% static 'js-plugin/neko-contact-ajax-plugin/js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js' %}"></script>
    <!-- parallax -->
    <script type="text/javascript" src="{% static 'js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/parallax/js/jquery.stellar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js' %}"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>