{% extends "new_home.html" %}
{% load staticfiles %}
{% block title %}
    me
{% endblock title %}
{% block body %}
    <h1 class="title">a bit more about me</h1>
{% endblock body %}


{% block main %}
    <div class="ps">
        <p>software&nbsp;engineer. world&nbsp;traveler. perpetual&nbsp;student. life&nbsp;enthusiast. engaged&nbsp;mormon.</p>
        <p>i think the world, despite all its problems, is an amazing place. we're living in the coolest time this world has ever known - and it gets more awesome every day.</p>
        <p>my goal in everything i do is to contribute to the awesomeness of the world. i accomplish this by bettering myself, building awesome products, facilitating great ideas, and sometimes simply brightening another's day.</p>
        <p>"if i can add a trifle to the sum total of human happiness in the world, i consider that day a success." - dale carnegie</p>
        <p>got a great business idea? need a quality website done right? want to talk politics or baseball or music? hit me up.</p>
        <p>i'd love to hear from you.</p>
        <!-- TODO CONTACT -->
    </div>
    <hr>
    <a href="{% url 'new_home' %}?wc=vc" class="back">back to home</a>

{% endblock main %}