{% load staticfiles tz_detect %}
{% tz_detect %}
<body>
  <h1>Choose your teaching schedule</h1>

  <p class="description">
    Loop through the days below and drag to select your teaching schedule!
  </p>

  <div id='calendar'>
      <div id="monday" class="weekday">
          <div class="header">
              <h2>Monday</h2>
          </div>
          <div class="times">
            {% with ''|center:n as range %}
            {% for _ in range %}
                <div class="hour hour-{{ forloop.counter0 }}">
                    
                </div>
            {% endfor %}
            {% endwith %}
          </div>
      </div>
  </div>

</body>

<script type="text/javascript">
    $(function() {

        var startHour = {{ start_hour }};
        for (var i = 0; i < 12; i++) {
            $('#wc-hour-' + startHour).addClass('ui-state-active wc-business-hours');
            startHour += 1;
            if (startHour > 23)
                startHour -= 24;
        }
    })
</script>
