{% extends "new_home.html" %}
{% load staticfiles %}
{% block title %}
    {{ project.name | lower }}
{% endblock title %}
{% block body %}
    <h1 class="title project">{{ project.name | lower }}</h1>
{% endblock body %}


{% block main %}
    <div class="ps">
        <p>{{ project.description | lower }}</p>
        <p><a href="{{ project.client_url }}">check it out here</a></p>
        <!-- TODO CONTACT -->
    </div>
    <hr>
    <a href="{% url 'projects' %}" class="back">back to projects</a>

{% endblock main %}
