{% extends "new_home.html" %}
{% load staticfiles %}
{% block title %}
    my work
{% endblock title %}
{% block body %}
    <h1 class="title">my work</h1>
{% endblock body %}


{% block main %}
    <style id="blurrer" type="text/css" disabled="disabled">
            p.project a {
                filter: blur(1px);
            }
        </style>
    <div class="ps">
        <p>as a full-stack web developer and software engineer, i love building quality products that solve legitimate issues.</p>
        <p>here's what i've done (that's worth mentioning) so far:</p>
        {% for proj in projects %}
            <p class="project"><a href="/p/{{ proj.slug }}/">{{ proj.name | lower }}</a></p>
        {% endfor %}
        <p>if you like what you see, reach out to me about working together.</p>
        <!-- TODO CONTACT -->
    </div>
    <hr>
    <a href="{% url 'new_home' %}?wc=projects" class="back">back to home</a>

{% endblock main %}

{% block blurrer %}main p.project{% endblock blurrer %}