{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Clay Coleman | Web Developer
{% endblock title %}
{% block content %}
 
<!-- slider -->
<section>
    <section class="color0">
                <div class="title">
                    <h2><strong>Thanks for your feedback!</strong></h2><br>
                    <p class="subTitle">I'll get back to you as soon as I can. Look forward to working with you!</p><br>
                    <h3><a href="{% url 'home' %}" class="btn">Back to home</a></h3>
                </div>
            </section>
</section> 
{% endblock %}