{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebRTC p2p data</title>
    <script src="{% static 'webrtc/js/adapter.js' %}"></script>
    <script src="{% static 'webrtc/js/jquery-2.0.0.js' %}"></script>
    <script src="{% static 'webrtc/js/bootstrap.js' %}"></script>
    <link href="{% static 'webrtc/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'webrtc/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'webrtc/css/serverless-webrtc-bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<style type="text/css">
  .row  {
    padding: 20px
  }
  .row .col-sm-8 {
    float: left;
    width: 66.666667%
  }
  .row .col-sm-4 {
    float: left;
    width: 33.333333%
  }
  #remoteVideo {
    position: relative;
  }
  #localVideo.loaded {
    cursor: -webkit-grab;
    z-index: 100;
    display: block;
    position: absolute;
    max-width: 100px;
    top: 29px;
    left: 10px;
    border: 1px solid rgba(150,150,150, .8);
  }
  #localVideo {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg);
  }

</style>
<div class="row">
  <div style="width: 66.66667%; display: inline-block;" class="col-sm-8">
    
    <Video id="remoteVideo" style="display: none;"></Video>
    <Video id="localVideo" muted></Video>
  </div>
  <div style="width: 33.33%; display: inline-block;" id="chatCol">
    <fieldset class="well">
      <p class="head muted">
        Serverless WebRTC chat demonstration.
      </p>
      <div class="text-info" id="chatlog" style="height:350px; overflow:auto;">
      </div>
    </fieldset>
    <form class="form-inline" onSubmit="return sendMessage()" action="">
      <input type="text" id="messageTextBox" placeholder="Type your message here">
      <button type="submit" id="sendMessageBtn" class="btn">Send message</button>
    </form>
    <!-- <input type="file" id="fileBtn"> -->
  </div>
</div>

<div class="modal" id="showLocalOffer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
<input name="the_pk" type="hidden" value="{{ video_call.pk }}">
  <div class="modal-header">
    <h3 id="myModalLabel">Send your local offer to someone else</h3>
  </div>
  <div class="modal-body">
    Here's your "offer" -- it tells someone else how to connect to you.  Send the whole thing to them, for example in an instant message or e-mail.
  <br/>
  <textarea class="input-large" id="localOffer" name="localOffer" rows="10" cols="100"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="offerSentBtn" data-dismiss="modal" aria-hidden="true">Okay, I sent it.</button>
  </div>
</div>

<div class="modal" id="showLocalAnswer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
  <div class="modal-header">
    <h3 id="myModalLabel">Send your local answer to someone else</h3>
  </div>
  <div class="modal-body">
    Here's your "answer" -- it tells someone else how to connect to you.  Send the whole thing to them, for example in an instant message or e-mail.
  <br/>
  <textarea class="input-large" id="localAnswer" name="localAnswer" rows="10" cols="100"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="answerSentBtn" data-dismiss="modal" aria-hidden="true">Okay, I sent it.</button>
  </div>
</div>

<div class="modal" id="getRemoteOffer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
  <div class="modal-header">
    <h3 id="myModalLabel">Paste the "offer" you received</h3>
  </div>
  <div class="modal-body">
    The person who created the room will send you an "offer" string -- paste it here.
  <br/>
  <textarea class="input-large" id="remoteOffer" name="remoteOffer" rows="10" cols="100"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="offerRecdBtn" data-dismiss="modal" aria-hidden="true">Okay, I pasted it.</button>
  </div>
</div>

<div class="modal" id="getRemoteAnswer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
  <div class="modal-header">
    <h3 id="myModalLabel">Paste the "answer" you received</h3>
  </div>
  <div class="modal-body">
    Now paste in the "answer" that was sent back to you.
  <br/>
  <textarea class="input-large" id="remoteAnswer" name="remoteAnswer" rows="10" cols="100"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="answerRecdBtn" data-dismiss="modal" aria-hidden="true">Okay, I pasted it.</button>
  </div>
</div>

<div class="modal" id="waitForConnection" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
  <div class="modal-header">
    <h3 id="myModalLabel">Waiting for connection</h3>
  </div>
  <div class="modal-body">
    This dialog will disappear when a connection is made.
  </div>
  <div class="spinner" align="center">
    <img src="img/spinner.gif"></img>
  </div>
</div>

<div class="modal" id="createOrJoin" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Create or join a room?</h3>
  </div>
  <div class="modal-footer">
    <button class="btn" id="joinBtn" data-dismiss="modal" aria-hidden="true">Join</button>
    <button class="btn btn-primary" id="createBtn" data-dismiss="modal" aria-hidden="true">Create</button>
  </div>
</div>

<script src="{% static 'webrtc/js/serverless-webrtc.js' %}"></script>
<script src="{% static 'webrtc/js/file-transfer.js' %}"></script>
<script type="text/javascript">
  $('#createOrJoin').hide();
  $('#chatCol').hide();
  {% if create %}
      
      // we are starting a call
      console.log('starting call')
      createLocalOffer()

  {% else %}

      // we are connecting a call
      console.log('connecting call')

      
      createLocalOfferLookForOne();

  {% endif %}
</script>
</body>
</html>
