* {
    font-family: 'Titillium Web', sans-serif;
}

img {
    max-width: 100%;
}

.post-image {
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold-header {
    margin: 1.5em 0;
}

html {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(245,245,245);
    text-align: center;
    color: #0B3C5D;
}

body div {
}


h1.clay-coleman, h1.title {
    margin: 0px;
    text-align: center;
    transition: margin-top 0.4s ease-in;
    /*text-transform: uppercase;
    font-size: 48px;*/
}


h1.clay-coleman, div.centered:after{
    color: #0B3C5D;
}

div.centered {
    cursor: pointer;
    margin-bottom: 35px;
}

div.centered, main {
    text-align: center;
}

div.centered:after {
    content: "that's me";
    display: block;
    position: fixed;
    text-align: center;
    font-size: 20px;
    opacity: 0.0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: -15px;
    margin-left: 45px;
}

div.centered:hover img.me {
    filter: grayscale(0%) !important;
}

div.centered:hover ~ main {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

div.centered:hover::after {
    opacity: 0.8;
    margin-top: 0px;
}

img.me {
    border-radius: 170px;
    max-height: 170px;
    max-width: 170px;
    filter: grayscale(35%);

}

main {
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

main .nav-ele {
    padding: 10px 0;
} 

a {
    text-decoration: none;
    cursor: pointer;
    color: #44A599;
}



a:hover {
    color: #206079;
}

a.reverse {
    color: #0B3C5D;
}

a.reverse:hover {
    color: #44A599;
}

a.back {
    font-size: 24px;
}

main .nav-ele {
    cursor: pointer;
}

main .nav-ele a {
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #44A599;
    /* margin: 10px 0; */
    line-height: 0.7;
    /*filter: blur(2px);*/
}

p.project {
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
    color: #44A599;
    text-decoration: none;
    font-size: 30px;
}

p.project a {
    color: #44A599;
    text-decoration: none; 
}

main .nav-ele:hover a, p.project:hover a {
    /*color: #206079;*/
    filter: blur(0px) !important;
}

main .ps {
    padding: 5px 20px;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}
main .ps.left p {
    text-align: left;
}
main .ps.left p.center {
    text-align: center;
    font-size: 16px;
}

textarea.comment-body {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    main .ps {
        max-width: none;
    }
}

p.small-margin {
    margin: 10px 0;
}

hr {
    color: #6B7C8E !important; 
    opacity: 0.75 !important; 
    max-width: 20vw !important; 
    margin-bottom: 15px !important;
}

main p {
    font-size: 20px;
    color: #6B7C8E;
}

.datetime #clockbox {
    left: 20px;
    position: absolute;
}
.datetime #datebox {
    right: 20px;
    position: absolute;
}

@media (min-width: 768px) {

    .datetime #clockbox {
        left: 20%;
        position: absolute;
    }
    .datetime #datebox {
        right: 20%;
        position: absolute;
    }
}

.datetime {
    position: absolute;
    bottom: 100px;
    min-width: 400px;
    width: 100vw;
    min-height: 1px;
    display: block;
    left: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.long h1.title {
    margin-top: 70px;
}

.long .datetime {
    position: relative;
    bottom: -30px;
    min-width: 400px;
    width: 100vw;
    min-height: 1px;
    display: block;
    left: 0;
    margin-bottom: 70px;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

/*::before, ::after {
        content:'';
    }*/
a.location {
    font-weight: bold;
}
select#book_of_scripture {
    font-size: 20px;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 38px;
    border: 0;
    border-bottom: solid 2px #c9c9c9;
    background: white;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
    outline: none !important;
    padding: 10px; 
    padding-right: 35px; 
}
span.pre::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 0;
    border-top: 0;
    border-right: solid 2px #c9c9c9;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -25px;
    margin-right: 10px;
    margin-bottom: 3px;
}
select#book_of_scripture:focus {
    border-bottom: solid 2px #44A599;
}
input#page_number, .comment-body {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;

    outline: none !important; 
}

.comment-body {
    font-size: 16px;
    width: 100%;
}

#comment-form {
    padding: 5px 20px;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input#page_number:focus,
input#page_number.focus,
.comment-body:focus,
.comment-body.focus {
    border-bottom: solid 2px #44A599;
}

p.mini-date {
    font-size: 14px;
    margin: 0;
}
p.comment {
    margin-top: -6px !important;
    text-align: left;
}

#comment-form a {
    font-size: 24px;
    margin: 10px 0 5px 0;
    display: block;
}
#comment-form a.disabled {
    color: gray !important; 
    cursor: not-allowed;
}
